---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Import the Minimal Mistakes theme
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Import our custom Medium-inspired styles
@import "custom";
